<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeControll</servlet-name>
        <servlet-class>controll.HomeControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerachControll</servlet-name>
        <servlet-class>controll.SearchControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailControll</servlet-name>
        <servlet-class>controll.DetailControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartControll</servlet-name>
        <servlet-class>controll.AddToCartControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartControll</servlet-name>
        <servlet-class>controll.CartControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartControll</servlet-name>
        <servlet-class>controll.DeleteCartControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartQuantityController</servlet-name>
        <servlet-class>controll.UpdateCartQuantityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectByCateControll</servlet-name>
        <servlet-class>controll.SelectByCateControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutControll</servlet-name>
        <servlet-class>controll.CheckoutControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThanksControll</servlet-name>
        <servlet-class>controll.ThanksControll</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeControll</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerachControll</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailControll</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartControll</servlet-name>
        <url-pattern>/add-to-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartControll</servlet-name>
        <url-pattern>/carts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartControll</servlet-name>
        <url-pattern>/delete-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartQuantityController</servlet-name>
        <url-pattern>/update-quantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectByCateControll</servlet-name>
        <url-pattern>/filter-category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutControll</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThanksControll</servlet-name>
        <url-pattern>/thanks</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
